WCF_DocenteServiceTest/Connected Services/DocentesWS/DocenteService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56460/DocenteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_DocenteService.Dominio" />
  <xs:element name="CrearDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_DocenteService.Dominio" minOccurs="0" name="docenteACrear" nillable="true" type="q1:Docente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDocenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_DocenteService.Dominio" minOccurs="0" name="CrearDocenteResult" nillable="true" type="q2:Docente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDocente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_DocenteService.Dominio" minOccurs="0" name="ObtenerDocenteResult" nillable="true" type="q3:Docente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_DocenteService.Dominio" minOccurs="0" name="docenteAModificar" nillable="true" type="q4:Docente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDocenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_DocenteService.Dominio" minOccurs="0" name="ModificarDocenteResult" nillable="true" type="q5:Docente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDocente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDocenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_DocenteService.Dominio" minOccurs="0" name="ListarDocentesResult" nillable="true" type="q6:ArrayOfDocente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>